body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(180deg, rgba(252, 121, 0, 0.5902777777777778) 30%, rgba(252, 121, 0, 0) 100%);
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.home-header {
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .home {
    font-size: 18px;
  }
  
  .perfil img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
  }

#input {
    background-repeat: no-repeat;
    background-position: right center; 
    background-size: 20px; 
    height: 40px; 
    border: 1px solid #ccc; 
    border-radius: 8px;
    width: 80%; 
    padding: 0 14px; 
    color: #333; 
    box-sizing: border-box; 
    margin: 10px;
    outline: none; 
}

#input:focus {
    border-color: #f68b18;
}


ul {
    list-style: none;
}


.foods {
    width: calc(100vw - 2.5rem);
    padding-bottom: 5px;
    display: flex;
    gap: 12px;
    list-style: none;
}

main h3 {
    font-weight: 700;
    font-size: 0.9375rem;
    text-shadow: 0rem 0.125rem 0.125rem rgba(0, 0, 0, 0.50);
}

main .categoria,
.categoriaS {
    width: 3rem;
    height: 3rem;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    box-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
    transition: 0.8s;
}
#pizza-calabresa {
    background-image: url(./img/pizza_calabresa_e_mussarela.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#pizza-pepperoni {
    background-image: url(./img/pizza_pepperonni_queijo_tomate.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#pizza-tomate {
    background-image: url(./img//pizzaaaaaaa.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#pizza-broto {
    background-image: url(./img/pizzaquarta.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.preco {
    background-color: red;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    padding: 0.25rem 0.375rem;
    color: white;
}

.nome {
    width: 80%;
    padding: 0.25rem 0.4rem;
    background-color: 10px rgba(0, 0, 0, 0.55);
    font-size: 1rem;
    color: white;
    border-radius: 0 8px 0 8px;
}
.bebida {
    display: inline-block;
    background-color: #fff;
    color: #fff;
    padding: 10px 20px; 
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    text-decoration: none;
  }
  
  .bebida:hover {
    background-color: #e07415; 
  }
  
  .bebidas {
    position: relative;
  }
  .bebidas-container{
        display: flex;
        gap: 12px;
  }
.pizza {
    flex-shrink: 0;
    width: 150px; 
    height: 100px; 
    border-radius: 15px; 
    overflow: hidden; 
    position: relative; 
    background-color: #f27706; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
footer{
    width: 95vw;
    background-color: #F27706;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footer {
    background-color: transparent;
    display: flex;
    justify-content: space-around; 
    flex-direction: row;
    color: white;
}

button {
    background-color: transparent;
    border: none; 
    cursor: pointer;
    transition: transform 0.2s ease-in-out; 
}

button:hover {
    transform: scale(1.1); 
}

a {
    text-decoration: none; 
    color: #333;
}

img {
    max-width: 40px;
    max-height: 40px; 
    margin-bottom: 5px; 
}

span {
    display: block;
    text-align: center; 
}
@media screen and (max-width: 768px) {

    .home-header {
        flex-direction: column;
        text-align: center;
      }
    
      .home {
        margin-bottom: 10px;
      }
    main .categoria,
    .categoria {
        width: 2rem;
        height: 2rem;
    }
        main
        .categoriaS {
            height: 10px; 
        }

    .foto {
        padding: 12;
    }

    #input {
        width: -60%;
    }

    .foods {
        padding: 0;
    }

    main h3 {
        text-align: center;
    }
    

    #pizza-calabresa,
    #pizza-pepperoni,
    #pizza-tomate,
    #pizza-broto {
        height: -60%; 
    }

    .bebidas-container .bebida {
        height: -30%; 
    }
    footer{
        height: 8vh;
        right: 8vh;
        width: 70vw;
    }
}