*
  body {
    font-family: Arial, sans-serif;
    background-color: orange;
    background-image: url(/img/background\ \(1\).webp);
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
  }

  .login-container h2 {
    margin-bottom: 20px;
  }

  .login-container input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .login-container button {
    background-color: #f68b18;
    color: #fff;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .esqueci-senha {
    margin-top: 10px;
    color: black;
    text-decoration: none;
    display: block;
  }

  .esqueci-senha {
    margin-top: 10px;
    color: black;
    text-decoration: none;
    display: block;
  }
  
  .criar-conta {
    font-size: 14px;
    color:black;
  }

